body {
    font-family: sans-serif;
}

.navbar {

    display: flex;
    gap: 70px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: gray;
    margin: 20px auto;

    justify-content: center;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-top: 30px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(images/hom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100vw;
}

.thinking-time {
    display: flex;
    gap: 5%;
    position: relative;
    overflow: hidden;
    margin-left: 7%;
    height: 100vh;
    margin-bottom: -20%;

}

#critical-thinking {
    color: rgb(124, 15, 15);
    margin-left: 40%;
    margin-bottom: 12%;
    font-size: 40px;

}

#general-content {
    margin-top: -10%;
    margin-bottom: 10%;
    margin-left: 14%;
    width: 70%;
    text-align: center;
    font-size: 20px;
    line-height: 30px;

}

.solution img {
    width: 25vw;
    height: 50vh;
    position: relative;
    filter: brightness(0.6);
}

.solution-content {
    position: absolute;
    top: 12%;
    left: 3%;
    font-size: 15px;
    color: #102c03;

    p {

        text-align: center;
        color: white;
    }

}

.midset-growth img {
    width: 25vw;
    height: 50vh;
    position: relative;
}

.mindset-content {
    position: absolute;
    top: 12%;
    left: 38%;
    font-size: 15px;

    p {

        text-align: center;
    }
}

.weekly-challenge {
    display: flex;
    gap: 5%;
    position: relative;
    overflow: hidden;
width: 89%;
    margin-left: 7%;
    margin-top: -40px;
    height: 100vh;
}

.week1-img img {
    width: 25vw;
    height: 50vh;
    position: relative;
    filter: brightness(0.6);
    box-shadow: 6px 6px;
}

.week1-content {
    position: absolute;
    padding: 2%;
    top: 23%;
    /* left: 3%; */
    font-size: 20px;
    color: white;

    p {

        text-align: center;
        color: white;
        font-size: 25px;
    }

}

.week2-img img {
    width: 25vw;
    height: 50vh;
    position: relative;
}


.week3-img img {
    width: 25vw;
    height: 50vh;
    position: relative;
}

.week3-content {
    position: absolute;
    top: 38%;
    left: 54%;
    font-size: 25px;
    color: white;

    p {

        text-align: center;
        color: white;
        font-size: 32px;
        margin-left: -60px;
    }
}

.week4-img img {
    width: 25vw;
    height: 50vh;
    position: relative;
}

.week4-content {
    position: absolute;
    top: 38%;
    left: 79%;
    font-size: 25px;
    color: white;

    p {

        text-align: center;
        color: white;
        font-size: 32px;
        margin-left: -60px;
    }
}

@keyframes scroll {
    0% {
        transform: translatex(0);
    }

    100% {
        transform: translatex(-50%);
    }
}

.scroller {
    display: flex;
    flex-direction: row;
    animation: scroll 30s linear infinite;
    will-change: transform;
    scroll-behavior: smooth;
    overflow: auto;
}

.week1 {
    flex-shrink: 0;
    padding: clamp(0.8rem, 2vw, 1rem);
    margin-bottom: 1.5rem;
    box-sizing: border-box;
}

.scroller:hover {
    animation-play-state: paused;
}

.footer {
    background-color: black;
    color: white;
    padding: 60px;
    display: flex;
    gap: 20%;
    margin-top: -270px;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 15px;

}

.footer p {
    margin-left: 20px;
    font-size: 20px;
}